<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} --- [%15.15t] %-40.40c{1.} : %m%n%ex
        </Property>
    </Properties>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        <RollingFile name="PhoenixFileAppender" fileName="logs/phoenix-lab.log"
                     filePattern="logs/phoenix-lab-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="100MB" />
            </Policies>
            <DefaultRolloverStrategy max="50"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="com.guanshan.phoenix" level="info" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="PhoenixFileAppender"/>
        </Logger>
        <Logger name="org.springframework.web" level="info" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="PhoenixFileAppender"/>
        </Logger>
        <Logger name="org.hibernate" level="error" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="PhoenixFileAppender"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="ConsoleAppender" />
        </Root>
    </Loggers>
</Configuration>